$def with(head,data)
$:head
		<div style="height: 60px;"></div>
		<div class="container-fluid">
			<div class="col-md-9">
				<div class="list-group">
				$for i in data:
					<div class="list-group-item" style="border: 0;">
						<a href="/question/$:(i.id).html" style="color: #0F0F0F;"><h4>$:i.title</h4></a>
						<p class="text-muted">
							<small>提问时间:$:i.fbtime</small>	
							<small class="pull-right">
								点击量:<span class="badge">$:i.click</span>
							</small>
						</p>
						<p class="text-muted">
							$:i.content[0:50]
						</p>
						<p>
								
					$for n in i.keywords.split(','):
				  		<span class="badge">$:n</span>
					</div>
					<div style="border: 1px dashed #ddd;"></div>

				<!--<div class="text-center">
					<ul class="pagination">
						
						<li><a href="#">&laquo;</a></li>
						<li><a href="/">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">&raquo;</a></li>
					</ul>
				</div>-->
					
				</div>
			</div>
		</div>
		
	</body>
</html>
