$def with(head,data)
$:head
		<div style="height: 20px;"></div>
		<div class="container-fluid">
			<div class="col-md-9  col-md-offset-1">
				<div class="list-group">
					<div class="list-group-item" style="border: 0;">
						<h4>$data.get('data').title</h4></a>
						<p class="text-muted">
							<small>$data.get('data').username 提问时间:$data.get('data').fbtime</small>
							<small class="pull-right">
								点击量： <span class="badge">$data.get('data').click</span>
							</small>
						</p>
						<p class="text-muted">
							$:data.get('data').content
						</p>
						<p>
					$for n in data.get('data').keywords.split(','):
				  		<span class="badge">$:n</span>
					</div>
					<div style="border: 1px dashed #ddd;"></div>

						<div class="content-box">
								<!--<ul class="media-list">-->
									<!--<li class="media" style="margin: 10px auto 10px auto">-->
										<!--<div class="media-body">-->
											<!--<div class="media-left"></div>-->
											<!--<p>&nbsp;&nbsp;&nbsp;&nbsp;Jack  内容： 找bug的来了  2017-09-08 15:55:54</p>-->
											<!--<div class="media">-->
												<!--<div class="media-left"></div>-->
												<!--<div class="media-body">-->
													<!--<p>&nbsp;&nbsp;&nbsp;&nbsp;Benjamin 回复 Jack：那你找到了吗？  2017-09-08 15:55:54</a>&nbsp;&nbsp;<a href="javascript:;"  style="text-decoration:none" class="clickhuifu">回复</a></p>-->
												<!--</div>-->
											<!--</div>-->
											<!--<div >-->
												<!--<div class="media-left"></div>-->
												<!--<div class="media-body">-->
													<!--<p>&nbsp;&nbsp;&nbsp;&nbsp;Jack 回复 Benjamin：找到一些  2017-09-08 15:55:54</a>&nbsp;&nbsp;<a href="javascript:;"  style="text-decoration:none" class="clickhuifu">回复</a></p>-->
												<!--</div>-->
											<!--</div>-->
											<!--<div>-->
												<!--<div class="media-left"></div>-->
												<!--<div class="media-body">-->
													<!--<p>&nbsp;&nbsp;&nbsp;&nbsp;Justin 回复 Benjamin：人家找没找到bug关你什么事  2017-09-08 15:55:54</a>&nbsp;&nbsp;<a href="javascript:;"  style="text-decoration:none" class="clickhuifu">回复</a></p>-->
												<!--</div>-->
											<!--</div>-->
											<!--<div>-->
												<!--<div class="media-left"></div>-->
												<!--<div class="media-body">-->
													<!--<p>&nbsp;&nbsp;&nbsp;&nbsp;Benjamin 回复 Justin：哦哦  2017-09-08 15:55:54</a>&nbsp;&nbsp;<a href="javascript:;"  style="text-decoration:none" class="clickhuifu">回复</a></p>-->
												<!--</div>-->
											<!--</div>-->
										<!--</div>-->
										<!--<a href="javascript:;" style="text-decoration:none" class="clickzan">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;点赞（10）</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;"  style="text-decoration:none" class="clickhuifu">回复</a><br>-->
									<!--</li>-->
									<!--<div style="border: 1px dashed #ddd;"></div>-->

									<!--<li class="media">-->
										<!--<div class="media-left"></div>-->
										<!--<div class="media-body">-->
											<!--<p>Jack  2017-09-08 15:55:54</p>-->
											<!--<p>内容： 找bug的来了</p>-->
										<!--</div>-->
									<!--</li>-->

									<!--<div style="border: 1px dashed #ddd;"></div>-->
								<!--</ul>-->
							</div>
				</div>
			</div>

		</div>

<!--<ul class="media-list">-->
	<!--<li class="media">-->
		<!--<div class="media-left">-->
			<!--<img src="#" style="width: 80px" alt="" class="media-object">-->
		<!--</div>-->
		<!--<div class="media-body">-->
			<!--<h4 class="media-heading">内容标题</h4>-->
			<!--<p>测试内容</p>-->
				<!--<div class="media">-->
					<!--<div class="media-left">-->
						<!--<img src="#" style="width: 80px" alt="" class="media-object">-->
					<!--</div>-->
					<!--<div class="media-body">-->
						<!--<h4 class="media-heading">内容标题</h4>-->
						<!--<p>测试内容</p>-->
					<!--</div>-->
				<!--</div>-->
		<!--</div>-->
	<!--</li>-->
	<!--<li class="media">-->
		<!--<div class="media-left">-->
			<!--<img src="#" style="width: 80px" alt="" class="media-object">-->
		<!--</div>-->
		<!--<div class="media-body">-->
			<!--<h4 class="media-heading">内容标题</h4>-->
			<!--<p>测试内容</p>-->
		<!--</div>-->
	<!--</li>-->
<!--</ul>-->



<div>
	<form class="container-fluid  col-md-offset-1" action="/question/$:(data.get('data').id)" method="post">
		<div class="form-group">
			<div class="col-md-5">
				<textarea class="form-control" name="content" rows="5" placeholder="说出你的看法吧"></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-5">
				<br>
				<input class="btn-primary" type="submit" value="回复">
			</div>
		</div>
	</form>

	<div style="height: 50px"></div>
		<div class="footer navbar-fixed-bottom"  style="background: black">
			<div style="height: 15px"></div>
			<ul class="list-inline text-center">
				<li>Copyright ©2017.Benjamin Software All Rights Reserved.</li>
			</ul>
		</div>
	<div style="height: 15px"></div>

</div>