$def with(head,data)
$:head
		<div style="height: 20px;"></div>
		<div class="container-fluid">
			<div class="col-md-9  col-md-offset-1">
				<div class="list-group">
					<div class="list-group-item" style="border: 0;">
						<h4>$data.get('data').title</h4></a>
						<p class="text-muted">
							<small>$data.get('data').username 提问时间:$data.get('data').fbtime</small>
							<small class="pull-right">
								点击量： <span class="badge">$data.get('data').click</span>
							</small>
						</p>
						<p class="text-muted">
							$:data.get('data').content
						</p>
						<p>
					$for n in data.get('data').keywords.split(','):
				  		<span class="badge">$:n</span>
					</div>
					<div style="border: 1px dashed #ddd;"></div>

						<div class="content-box">
								<!--<ul class="media-list">-->
									<!--<li class="media" style="margin: 10px auto 10px auto">-->
										<!--<div class="media-body">-->
											<!--<div class="media-left"></div>-->
											<!--<p>&nbsp;&nbsp;&nbsp;&nbsp;Jack  内容： 找bug的来了  2017-09-08 15:55:54</p>-->
											<!--<div class="media">-->
												<!--<div class="media-left"></div>-->
												<!--<div class="media-body">-->
													<!--<p>&nbsp;&nbsp;&nbsp;&nbsp;Benjamin 回复 Jack：那你找到了吗？  2017-09-08 15:55:54</a>&nbsp;&nbsp;<a href="javascript:;"  style="text-decoration:none" class="clickhuifu">回复</a></p>-->
												<!--</div>-->
											<!--</div>-->
											<!--<div >-->
												<!--<div class="media-left"></div>-->
												<!--<div class="media-body">-->
													<!--<p>&nbsp;&nbsp;&nbsp;&nbsp;Jack 回复 Benjamin：找到一些  2017-09-08 15:55:54</a>&nbsp;&nbsp;<a href="javascript:;"  style="text-decoration:none" class="clickhuifu">回复</a></p>-->
												<!--</div>-->
											<!--</div>-->
											<!--<div>-->
												<!--<div class="media-left"></div>-->
												<!--<div class="media-body">-->
													<!--<p>&nbsp;&nbsp;&nbsp;&nbsp;Justin 回复 Benjamin：人家找没找到bug关你什么事  2017-09-08 15:55:54</a>&nbsp;&nbsp;<a href="javascript:;"  style="text-decoration:none" class="clickhuifu">回复</a></p>-->
												<!--</div>-->
											<!--</div>-->
											<!--<div>-->
												<!--<div class="media-left"></div>-->
												<!--<div class="media-body">-->
													<!--<p>&nbsp;&nbsp;&nbsp;&nbsp;Benjamin 回复 Justin：哦哦  2017-09-08 15:55:54</a>&nbsp;&nbsp;<a href="javascript:;"  style="text-decoration:none" class="clickhuifu">回复</a></p>-->
												<!--</div>-->
											<!--</div>-->
										<!--</div>-->
										<!--<a href="javascript:;" style="text-decoration:none" class="clickzan">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;点赞（10）</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;"  style="text-decoration:none" class="clickhuifu">回复</a><br>-->
									<!--</li>-->
									<!--<div style="border: 1px dashed #ddd;"></div>-->

									<!--<li class="media">-->
										<!--<div class="media-left"></div>-->
										<!--<div class="media-body">-->
											<!--<p>Jack  2017-09-08 15:55:54</p>-->
											<!--<p>内容： 找bug的来了</p>-->
										<!--</div>-->
									<!--</li>-->

									<!--<div style="border: 1px dashed #ddd;"></div>-->
								<!--</ul>-->
							</div>
				</div>
			</div>
		</div>


<div class="modal fade" style="margin-top: 5%" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="UPPassWordLabe">回贴操作</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form" id="add-key-form"  method="post">
                                <div class="form-group">
                                    <label for="content_id">ID</label>
                                    <input type="text" name="content_id" class="form-control" id="content_id" placeholder="ID" readonly="readonly">
                                </div>
                                 <div class="form-group">
                                    <label for="main_user">被回复人</label>
                                    <input type="text" name="main_user" class="form-control" id="main_user" placeholder="被回复人" readonly="readonly">
                                </div>
                                <div class="form-group">
                                    <label for="content_content">评论内容</label>
                                    <textarea  type="text" name="content_content" class="form-control" id="content_content" placeholder="评论内容" style="height: 100px"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                                    <button type="submit" id="btn_submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                                </div>
                            </form>
                        </div>
                </div>
        </div>
</div>



<div>
	<form class="container-fluid  col-md-offset-1" action="/question/$:(data.get('data').id)" method="post">
		<div class="form-group">
			<div class="col-md-5">
				<textarea class="form-control" name="content" rows="5" placeholder="说出你的看法吧"></textarea>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-5">
				<br>
				<input class="btn-primary" type="submit" value="回复">
			</div>
		</div>
	</form>

	<div style="height: 50px"></div>
		<div class="footer navbar-fixed-bottom"  style="background: black">
			<div style="height: 15px"></div>
			<ul class="list-inline text-center">
				<li>Copyright ©2017.Benjamin Software All Rights Reserved.</li>
			</ul>
		</div>
	<div style="height: 15px"></div>

</div>