<!DOCTYPE html>
<html lang="en">
<head>
    
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<!--<link type="image/x-icon" rel="shortcut icon" href="../favicon.ico">-->

    <title>Python问答错误页面</title>
    <style>
        .index{ display:block; margin-top:30px;  padding-bottom:30px;}
        .error-01{margin:40px auto 0; display:block; width:30%}
        .error-02{display:block; transform:translateX(95%);-webkit-transform:translateX(95%); -moz-transform:translateX(95%);width:35%;}
    </style>
</head>

<body class="white">
<img src="/static/img/error-01.png" class="error-01">
<a href="/" class="index">
    <br><br><br>
    <img src="/static/img/error-02.png" class="error-02">
</a>
</body>
</html>
