$def with(head,data)
$:head
<div style="height: 60px;"></div>
		<div class="container-fluid">
			<div class="col-md-9">
				<div class="list-group">
			
					<div class="list-group-item" style="border: 0;">
						<h4>$:data.title</h4></a>
						<p class="text-muted">
							<small>$:data.username 提问时间:$:data.fbtime</small>
							<small class="pull-right">
								点击量:<span class="badge">$:data.click</span>
							</small>
						</p>
						<p class="text-muted">
							$:data.content
						</p>
						<p>
								
					$for n in data.keywords.split(','):
				  		<span class="badge">$:n</span>
					</div>
					<div style="border: 1px dashed #ddd;"></div>
				</div>
			</div>
		</div>

<form class="container-fluid" action="/question/$:(data.id).html" method="post">
	<div class="form-group">
		<div class="col-md-5">
			<textarea class="form-control" name="content" rows="5" placeholder="说出你的看法吧"></textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-5">
			<br>
			<input class="btn-primary" type="submit" value="回复">
		</div>
	</div>
</form>