$def with(huifudata,PageNum)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js" ></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>

<body>

    <div><!--<div class="container">-->
        <h2>主题管理</h2>
        <br>
        <table class="table table-hover" style="text-align: center">
            <thead>
                <tr>
                    <th style="text-align: center">ID</th>
                    <th style="text-align: center">用户名</th>
                    <th style="text-align: center">Email</th>
                    <th style="text-align: center">注册时间</th>
                    <th style="text-align: center">注册IP</th>
                    <th style="text-align: center">激活状态</th>
                    <th style="text-align: center">激活时间</th>
                    <th style="text-align: center">操作</th>
                </tr>
            </thead>

            <tbody class="huifudata">
                <!--<tr>-->
                    <!--<td>1</td>-->
                    <!--<td>Benjamin</td>-->
                    <!--<td>这是一个测试的回复主题内容</td>-->
                    <!--<td>2017-9-14 14:24:38</td>-->
                    <!--<td>什么是软件测试？</td>-->
                    <!--<td><a href="#">编辑</a>&nbsp;&nbsp;<a href="#">删除</a></td>-->
                <!--</tr>-->
                $for i in huifudata:
                    <tr>
                        <td>$i.get('id')</td>
                        <td>$i.get('username')</td>
                        <td>$i.get('email')</td>
                        <td>$i.get('regtime')</td>
                        <td>$i.get('ip')</td>
                        $if i.get('status')==1:
                            <td>已激活</td>
                        $else:
                            <td>未激活</td>
                        <td>$i.get('activationtime')</td>
                        <td><a href="#" class="dotitleedit" id="$i.get('id')" data-toggle="modal" data-target="#myModal">编辑</a>&nbsp;&nbsp;<a href="#">删除</a></td>
                    </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade" style="margin-top: 5%" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="UPPassWordLabe">修改主题</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form" id="add-key-form"  method="post">
                                <div class="form-group">
                                    <label for="txt_departmentname">ID</label>
                                    <!--<p class="form-control">99</p>-->
                                    <input type="text" name="id" class="form-control" id="txt_departmentname" placeholder="ID" readonly="readonly" >
                                </div>
                                 <div class="form-group">
                                    <label for="titlename">主题</label>
                                    <input type="text" name="titlename" class="form-control" id="titlename" placeholder="评论内容">
                                </div>
                                <div class="form-group">
                                    <label for="titlecontent">主题内容</label>
                                    <textarea  type="text" name="titlecontent" class="form-control" id="titlecontent" placeholder="评论内容" style="height: 100px"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                                    <!--<button type="submit"  class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>-->
                                    <button type="submit" id="btn_submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                                </div>
                            </form>
                        </div>
                </div>

        </div>
    </div>

    </div>
        <ul class="pagination pagination-sm">
        $:PageNum
        </ul>
    </div>

    <script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>