$def with(username='',con='',index='',post='',user='')
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Python问答</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<script type="text/javascript" src="/static/js/jquery-3.1.1.min.js" ></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	</head>
	<body>
		<nav class="nav navbar-default" role="navigotion">
			<div class="container-fluid">
				<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
					<a href="/" class="navbar-brand">
						<img src="/static/img/logo.png" style="height: 50px;margin-top: -15px;"/>
					</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li $index><a href="/">首页</a></li>
						<li $post><a href="/post">提问</a></li>
						$if username:
							<li $user><a href="/user">个人中心</a></li>
					</ul>

					<form action="/search" method="get">
						<div class="navbar-form navbar-right">
							$if username:
								<a href="javascript:;" class="navbar-link">用户名：$username</a>&nbsp;&nbsp;
								<a href="/logout" class="navbar-link">注销登录&nbsp;&nbsp;&nbsp;</a>
								<input type="text" name="kw" class="form-control" required="required" placeholder="请输入关键字"/>
								<button class="btn btn-">搜 索</button>
							$else:
								<a href="/login" class="navbar-link">登录</a>/
								<a href="/reg" class="navbar-link">注册</a>
								<input type="text" name="kw" class="form-control" required="required" placeholder="请输入关键字"/>
								<button class="btn btn-">搜 索</button>
						</div>
					</form>
				</div>
			</div>
		</nav>
$:con