$def with(head,data)
$:head
		<div style="height: 60px;"></div>
		<div class="container-fluid">
			<div class="col-md-9  col-md-offset-1">
				<div class="list-group">
					$:data
					<div style="height: 60px;"></div>
					<div style="border: 1px dashed #ddd;"></div>
				</div>
			</div>
		</div>

	<div style="height: 15px"></div>
	<div class="footer navbar-fixed-bottom"  >
		<ul class="list-inline text-center">
			<li>Copyright ©2017.Benjamin Software All Rights Reserved.</li>
		</ul>
	</div>
	<div style="height: 15px"></div>

	</body>
</html>
